00 20 * * *  backup  mysqldump agama > /home/backup/mysql/agama.sql
05 20 * * *  backup  duplicity --no-encryption full /home/backup/mysql/ rsync://IlliaShyn@backup.agamais.ttu/mysql
05 20 * * 0-6  backup  duplicity --no-encryption incremental /home/backup/mysql/ rsync://IlliaShyn@backup.agamais.ttu/mysql
