[Unit]
Description=Agama Client Service
Documentation=https://docs.agama.example
After=network-online.target

[Service]
User=agama-client
ExecStart=/usr/local/bin/agama-client

[Install]
WantedBy=multi-user.target